<p><%= link_to "Add a New User", "/users/new" %></p>

<p><%= @users.count %> Users.</p>

<table class="table table-striped">
  <tr>
    <th>username</th>
    <th>password</th>
    <th>salt</th>
    <th>profile_pic_path</th>
    <th>id_created_time</th>
    <th>nick_name</th>
    <th>gender</th>
    <th>place</th>
    <th>last_login_time</th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.user_name, user_url(user.id) %></td>
      <td><%= user.password %></td>
      <td><%= user.salt %></td>
      <td><%= user.profile_pic_path %></td>
      <td><%= user.id_created_time %></td>
      <td><%= user.nick_name %></td>
      <td><%= user.gender %></td>
      <td><%= user.place %></td>
      <td><%= user.last_login_time %></td>
      <td><%= link_to "Edit...", "/users/#{user.id}/edit" %></td>

      <td><%= link_to "Delete", "/users/#{user.id}", :method => 'delete' %></td>
    </tr>
  <% end %>

</table>